<ion-view title="Histórico">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/app/contato"><i class="button button-icon icon ion-compose" ></i></a>
  </ion-nav-buttons>  

  <ion-content class="has-header">    
    <div class="list">    
        <a class="item" href="#/app/contato-chat">
          <h2>Pós Vendas</h2>
          <p>05 de Agosto de 2014</p>
        </a>
        
        <a class="item" href="#/app/contato-chat">
          <h2>Financeiro</h2>
          <p>17 de Junho de 2014</p>
        </a>
        
        <a class="item" href="#/app/contato-chat">
          <h2>Vendas</h2>
          <p>03 de Janeiro de 2014</p>
        </a>        

        <a class="item" href="#/app/contato-chat">
          <h2>TI</h2>
          <p>03 de Janeiro de 2014</p>
        </a>
        
        <a class="item" href="#/app/contato-chat">
          <h2>Fotografia</h2>
          <p>03 de Janeiro de 2014</p>
        </a>         
    </div>

  </ion-content>
</ion-view>

