<ion-view title="Nova Mensagem">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
    
  <ion-content class="has-header">    
    <div class="list list-inset">
      <form>
        
        <label class="item item-input item-select">
            <span class="input-label">Falar com </span>
            <select name="assunto" class="input">
              <option>Vendas</option>
              <option>Pós Vendas</option>
              <option>Financeiro</option>
              <option>TI</option>
              <option>Fotografias</option>    
            </select>
            <br>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Sua pergunta</span>
          <textarea></textarea>
        </label>
        
        <label class="item">
          <button class="button button-block button-calm" type="submit">Enviar Mensagem</button>
        </label>
      </form>
    </div>

  </ion-content>
</ion-view>

