<ion-view title="Respostas">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>  

  <ion-content class="has-header">
    
    <div class="card">
      <div class="item item-divider item-text-wrap bg-primary">
        Como fazer para aderir à formatura?
      </div>
      <div class="item item-text-wrap text-mutted">
        <p>&nbsp Você pode aderir à sua formatura de duas maneiras: </p>
        <p>&nbsp Diretamente com a sua Comissão de Formatura.</p>
        <p>&nbsp Através do nosso site <a href="http://www.stillos.com.br">www.stillos.com.br</a> digitando seu código de acesso (contrato + nome da instituição de ensino).</p>

        <p>
           &nbsp Se não souber o código de acesso verifique no boletim informativo, pergunte a comissão de formatura ou entre em contato
            conosco.
        </p>
      </div>      
    </div>

  </ion-content>
</ion-view>

