<ion-view title="Dúvidas">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>  

  <ion-content class="has-header">    
    <div class="list">    
        <a class="item" href="#/app/faq-respostas">
          <h2>Como fazer para aderir à formatura?</h2>
        </a>
        
        <a class="item" href="#/app/faq-respostas">
          <h2>Qual data limite para adesão?</h2>
        </a>
        <a class="item" href="#/app/faq-respostas">
          <h2>Qual data limite para adesão?</h2>
        </a>
        <a class="item" href="#/app/faq-respostas">
          <h2>Entreguei minha adesão e não recebi o e-mail/boleto para pagamento o que devo fazer?</h2>
        </a>
        <a class="item" href="#/app/faq-respostas">
          <h2>Quais as formas de pagamento aceitas pela empresa?</h2>
        </a>
        <a class="item" href="#/app/faq-respostas">
          <h2> Para pagamento em cartão qual procedimento?</h2>
        </a>        
               

          
    </div>

  </ion-content>
</ion-view>

