<ion-view title="FAQ">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"><img ng-click="" src="img/logo.png"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>  

  <ion-content class="has-header">    
    <div class="list">    
        <a class="item" href="#/app/faq-duvidas">
          <h2>Dúvidas</h2>
          <p>Esclareça todas as suas dúvidas</p>
        </a>
        
        <a class="item" href="#/app/contato-history">
          <h2>Atendimento Stillo's</h2>
          <p>Fale direto com um atendente Stillo's.</p>
        </a>
               

          
    </div>

  </ion-content>
</ion-view>

