<div class="modal">
  <ion-header-bar>
    <h1 class="title">Primeiro acesso</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGeneratePasswordModal()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    
     <div class="card">
      <div class="item item-text-wrap justify">
          Utilize o endereço de e-mail cadastrado em sua adesão on-line e clique no botão gerar senha.<br>
          Você receberá em sua caixa de e-mail uma senha temporaria para o uso do aplicativo, podendo alterá-la sempre que desejar.
      </div>
    </div>
     
     
    <form name="form" class="css-form" novalidate ng-submit="generatePassword()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="email" required ng-model="loginData.email">
        </label>
        <label class="item">
          <button ng-disabled="form.$invalid" class="button button-block button-positive else-class" type="submit">Gerar Senha</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>

