<ion-view title="Meu Perfil">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"><img ng-click="" src="img/logo.png"></button>
  </ion-nav-buttons>
    
  <ion-content class="has-header">
 
    <div class="list">
      <div class="item item-avatar">
       <img ng-click="" src="img/mcfly.jpg">
        <input type="text" placeholder="Nome">
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">Identificação</div>
        <div class="panel-body">
          <div class="list">
              <div class="form-group item">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" id="exampleInputPassword1">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Data de Nascimento</label>
                <input type="text" id="exampleInputPassword1" placeholder="dd/mm/aaaa">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Sexo</label>
                <input type="text" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">RG</label>
                <input type="text" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">CPF</label>
                <input type="text" id="exampleInputPassword1" placeholder="123.456.789-15">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Email</label>
                <input type="text" id="exampleInputPassword1" placeholder="exemplo@exemplo.com.br">
              </div>
              <div class="form-grou item">
                <label for="exampleInputPassword1">Telefone</label>
                <input type="text" id="exampleInputPassword1" placeholder="(11) 1234-4567">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Celular</label>
                <input type="text" id="exampleInputPassword1" placeholder="(11) 91234-4567">
              </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Endereço</div>
        <div class="panel-body">
          
         <div class="list">

              <div class="form-group item">
                <label for="exampleInputPassword1">CEP</label>
                <input type="text" id="exampleInputPassword1" placeholder="000000-000">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Logradouro</label>
                <input type="text" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Numero</label>
                <input type="text" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Complemento</label>
                <input type="text" id="exampleInputPassword1" placeholder="123.456.789-15">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Bairro</label>
                <input type="text" id="exampleInputPassword1" placeholder="exemplo@exemplo.com.br">
              </div>
              <div class="form-grou item">
                <label for="exampleInputPassword1">Cidade</label>
                <input type="text" id="exampleInputPassword1" placeholder="(11) 1234-4567">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Estado</label>
                <input type="text" id="exampleInputPassword1" placeholder="(11) 91234-4567">
              </div>
          </div>
 
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">Adicionais</div>
        <div class="panel-body">          
          <div class="list">
              <div class="form-group item">
                <label for="exampleInputPassword1">Instituição</label>
                <input type="text" id="exampleInputPassword1" placeholder="Instituição">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Campos</label>
                <input type="text" id="exampleInputPassword1" placeholder="Campos">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Curso</label>
                <input type="text" id="exampleInputPassword1" placeholder="Curso">
              </div>
              <div class="form-group item">
                <label for="exampleInputPassword1">Periodo</label>
                <input type="text" id="exampleInputPassword1" placeholder="Periodo">
              </div>
          </div>
        </div>
      </div>
      
    </div>
      
  </ion-content>
</ion-view>